.btn-outline-success, .btn-outline-danger {
  font-size: 11px;
  border-radius: 5px !important;
  padding: 5px 15px;
  font-family: monospace; /* Para ese look de sistema técnico que se ve en la imagen */
}
