.sidebar {
  .nav-icon {
    width: 0.85rem !important;
    height: 0.85rem !important;
    flex-shrink: 0;
  }

  .nav-link,
  .nav-group-toggle {
    font-size: 0.8rem !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
  }

  .nav-group-items .nav-link {
    padding-left: 3.5rem;
  }
}
