.header-dropdown {
  &__toggle {
    display: flex !important;
    align-items: center;
  }

  &__avatar {
    object-fit: cover;
    width: 28px !important;
    height: 28px !important;
    display: block;
  }

  &__user-name {
    font-size: var(--fs-base);
  }

  &__user-role {
    font-size: var(--fs-base);
  }

  &__item {
    cursor: pointer;
    font-size: var(--fs-base);
  }
}
