body {
  background-color: var(--cui-tertiary-bg);
}

.app-layout {
  &__content {
    width: 100%;
    padding-left: var(--cui-sidebar-occupy-start, 0);
    padding-right: var(--cui-sidebar-occupy-end, 0);
    will-change: auto;
    @include transition(padding .15s);
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }
  }
}
