// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$font-size-base:    0.8rem;
$font-family-base:  'Inter', system-ui, -apple-system, sans-serif;
$font-family-sans-serif: $font-family-base;
